body{
    background-color: antiquewhite;
    font-family: "Montserrat", sans-serif;
}



.menu {
    position: relative;
    display: inline-block;
}

.menu-btn {
    background-color: red;
    color: antiquewhite;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.menu-contenido {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}

.menu-contenido a {
    color: black;
    padding: 10px;
    display: block;
    text-decoration: none;
}

.menu-contenido a:hover {
    background-color: orange;
}

/* 👇 Aquí ocurre la magia */
.menu:hover .menu-contenido {
    display: block;
}



.specialText{
    color: red;
}



.barraBusqueda{
    display: flex;
}
.flexItem{
    margin-left: 10px;
}

.a_subtitulo{
    text-decoration: none;
    color: grey;
}
.a_subtitulo:hover{
    color: orange;
}


.a_botonTexto{
    text-decoration: none;
    color: red;
}
.a_botonTexto:hover{
    color: orange;
}

.divBorder_Imagen{
    float: right;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* PAGINA INDEX */

.PaginaEnDesarrollo{
    width: 5em;
    float: right;
}

.index_div_introduccion{
    margin-top: 1em;
    margin-left: 1em;
    float: left;
    width: 47%;
}
.index_div_imagenes{
    margin-top: 1em;
    margin-right: 1em;
    width: 42%;
    float: right;
    border-style: solid;
}

.index_div_logosRRSS{
    position: absolute;
    bottom: 1em;
    left: 1em;
}

/* PAGINA INDEX */


/* PAGINA SETUP*/

.setup_div_introduccion{
    margin-top: 1em;
    margin-left: 1em;
    float: left;
    width: 47%;
}
.setup_div_imagenes{
    margin-top: 1em;
    margin-right: 1em;
    width: 42%;
    float: right;
    border-style: solid;
}
.setup_div_logoUnity{
    position: absolute;
    top: 1em;
    right: 1em;
}



/* PAGINA SETUP*/
/*PAGINA INTRODUCCION*/

.introduccion_div_introduccion{
    margin-top: 1em;
    margin-left: 1em;
    float: left;
    width: 47%;
}
.introduccion_div_imagenes{
    margin-top: 1em;
    margin-right: 1em;
    width: 42%;
    float: right;
    border-style: solid;
}

/*PAGINA INTRODUCCION*/